body {
	color: #fff;
	background-color: #2C3845;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

.header {
	border-bottom-color: #fff;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

.copier-list {	
	margin-top: 60px;
	
	border-color: #fff;
	border-style: solid;
	border-width: 3px;
	
	background-color: #3D5C6E;
}

.copier-list h2 {
	margin: 0;
}

.copier-list table {
	width: 100%;
}
